In [1]:
from pyspark.conf import SparkConf
from pyspark.context import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

Spark Context is used to work with RDD

Spark Session is used to work with Dataframes

In [2]:
#setting Spark Configuration
conf = SparkConf().setAppName("first").setMaster("local")

#creating Spark Context
sc = SparkContext(conf = conf)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/22 03:42:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
#creating Spark Session
spark = SparkSession.builder.getOrCreate()

## Dataframe

In [4]:
# working with purchases.csv file to create a dataframe during Read
#Dataframe

df = spark.read.format("csv").option("inferSchema",True).option("header",True).load("/home/labuser/Downloads/purchases.csv")

In [5]:
#printing the dataframe
df.show()

+------+------+-------+
|   _c0|apples|oranges|
+------+------+-------+
|  June|     3|      0|
|Robert|     2|      3|
|  Lily|     0|      7|
| David|     1|      2|
+------+------+-------+

23/09/22 03:43:21 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , apples, oranges
 Schema: _c0, apples, oranges
Expected: _c0 but found:
CSV file: file:///home/labuser/Downloads/purchases.csv

In [6]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- apples: integer (nullable = true)
 |-- oranges: integer (nullable = true)

## Row RDD in Spark to create Dataframes

In [17]:
from pyspark.sql.types import StructType,IntegerType,StructField,StringType,DoubleType

udfSchema = StructType([StructField("Rankejriohwerhwjkbe",IntegerType(),True),
                        StructField("Title",StringType(), True),
                        StructField("Genre",StringType(), True),
                        StructField("Description",StringType(), True),
                        StructField("Director",StringType(), True),
                        StructField("Actors",StringType(), True),
                        StructField("Year",StringType(), True),
                        StructField("Runtime (Minutes)",StringType(), True),
                        StructField("Rating",StringType(), True),
                        StructField("Revenue (Millions)",DoubleType(), True),
                        StructField("Metascore",DoubleType(), True)
                        ])

In [25]:
"""
movie_file = sc.textFile("/home/labuser/Downloads/IMDB-Movie-Data.csv")

mapsplit = movie_file.map(lambda x: x.split(","))

rowrdd = mapsplit.map(lambda x: Row(x(0), x(1), x(2), x(3), x(4), x(5), x(6), x(7), x(8), x(9), x(10)))

movie_df = spark.createDataFrame(rowrdd, udfSchema)
movie_df.show()
"""

'\nmovie_file = sc.textFile("/home/labuser/Downloads/IMDB-Movie-Data.csv")\n\nmapsplit = movie_file.map(lambda x: x.split(","))\n\nrowrdd = mapsplit.map(lambda x: Row(x(0), x(1), x(2), x(3), x(4), x(5), x(6), x(7), x(8), x(9), x(10)))\n\nmovie_df = spark.createDataFrame(rowrdd, udfSchema)\nmovie_df.show()\n'

In [8]:
#instead of using the load method, .csv is directly used which makes it clear that the file format is csv
#hence, .format need not be used here
#in the next example, .format is needed without which execution fails

movie = spark.read.schema(udfSchema).option("header",True).csv("/home/labuser/Downloads/IMDB-Movie-Data.csv")

In [9]:
movie.show()

23/09/22 03:43:44 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 12, schema size: 11
CSV file: file:///home/labuser/Downloads/IMDB-Movie-Data.csv

+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------------------+---------+
|Rankejriohwerhwjkbe|               Title|               Genre|         Description|            Director|              Actors|                Year|Runtime (Minutes)|Rating|Revenue (Millions)|Metascore|
+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------------------+---------+
|                  1|Guardians of the ...|Action,Adventure,...|A group of interg...|          James Gunn|Chris Pratt, Vin ...|                2014|              121|   8.1|          757074.0|   333.13|
|                  2|          Prometheus|Adventure,Mystery...|Following clues t...|        Ridley Scott|Noomi Rapace, Log...|                2012|              124|     7|          485820.0|   126.46|
|                  3|               Split|     Horror,Thriller|Three girls are k...|  M. Night Shyamalan|James McAvoy, Any...|                2016|              117|   7.3|          157606.0|   138.12|
|                  4|                Sing|Animation,Comedy,...|In a city of huma...|Christophe Lourdelet|Matthew McConaugh...|                2016|              108|   7.2|           60545.0|   270.32|
|                  5|       Suicide Squad|Action,Adventure,...|A secret governme...|          David Ayer|Will Smith, Jared...|                2016|              123|   6.2|          393727.0|   325.02|
|                  6|      The Great Wall|Action,Adventure,...|European mercenar...|         Yimou Zhang|Matt Damon, Tian ...|                2016|              103|   6.1|           56036.0|    45.13|
|                  7|          La La Land|  Comedy,Drama,Music|A jazz pianist fa...|     Damien Chazelle|Ryan Gosling, Emm...|                2016|              128|   8.3|          258682.0|   151.06|
|                  8|            Mindhorn|              Comedy|"A has-been actor...| whom he believes...|          Sean Foley|Essie Davis, Andr...|             2016|    89|               6.4|   2490.0|
|                  9|  The Lost City of Z|Action,Adventure,...|A true-life drama...|          James Gray|Charlie Hunnam, R...|                2016|              141|   7.1|            7188.0|     8.01|
|                 10|          Passengers|Adventure,Drama,R...|A spacecraft trav...|       Morten Tyldum|Jennifer Lawrence...|                2016|              116|     7|          192177.0|   100.01|
|                 11|Fantastic Beasts ...|Adventure,Family,...|The adventures of...|         David Yates|Eddie Redmayne, K...|                2016|              133|   7.5|          232072.0|   234.02|
|                 12|      Hidden Figures|Biography,Drama,H...|The story of a te...|      Theodore Melfi|Taraji P. Henson,...|                2016|              127|   7.8|           93103.0|   169.27|
|                 13|           Rogue One|Action,Adventure,...|The Rebel Allianc...|      Gareth Edwards|Felicity Jones, D...|                2016|              133|   7.9|          323118.0|   532.17|
|                 14|               Moana|Animation,Adventu...|In Ancient Polyne...|        Ron Clements|Auli'i Cravalho, ...|                2016|              107|   7.7|          118151.0|   248.75|
|                 15|            Colossal| Action,Comedy,Drama|Gloria is an out-...|     Nacho Vigalondo|Anne Hathaway, Ja...|                2016|              109|   6.4|            8612.0|     2.87|
|                 16|The Secret Life o...|Animation,Adventu...|The quiet life of...|        Chris Renaud|Louis C.K., Eric ...|                2016|               87|   6.6|          120259.0|   368.31|
|                 17|       Hacksaw Ridge|Biography,Drama,H...|WWII American Arm...|          Mel Gibson|Andrew Garfield, ...|                2016|              139|   8.2|          211760.0|    67.12|
|                 18|        Jason Bourne|     Action,Thriller|The CIA's most da...|     Paul Greengrass|Matt Damon, Tommy...|                2016|              123|   6.7|          150823.0|   162.16|
|                 19|                Lion|     Biography,Drama|A five-year-old I...|         Garth Davis|Dev Patel, Nicole...|                2016|              118|   8.1|          102061.0|    51.69|
|                 20|             Arrival|Drama,Mystery,Sci-Fi|When twelve myste...|    Denis Villeneuve|Amy Adams, Jeremy...|                2016|              116|     8|          340798.0|    100.5|
+-------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------+------------------+---------+
only showing top 20 rows

In [11]:
from pyspark.sql.types import *


purchase_schema = StructType([StructField("Name", StringType(), True),
                       StructField("Apples", IntegerType(), True),
                       StructField("Oranges", IntegerType(), True)])

purchase = spark.read.format("csv").schema(purchase_schema).option("header",True).load('/home/labuser/Downloads/purchases.csv')

In [12]:
purchase.show()

+------+------+-------+
|  Name|Apples|Oranges|
+------+------+-------+
|  June|     3|      0|
|Robert|     2|      3|
|  Lily|     0|      7|
| David|     1|      2|
+------+------+-------+

23/09/22 03:44:16 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , apples, oranges
 Schema: Name, Apples, Oranges
Expected: Name but found:
CSV file: file:///home/labuser/Downloads/purchases.csv

## Transformation Chaining

### withColumn

In [13]:
#withColumn

purchase = purchase.withColumnRenamed("Name", "FirstName")
purchase.show()

+---------+------+-------+
|FirstName|Apples|Oranges|
+---------+------+-------+
|     June|     3|      0|
|   Robert|     2|      3|
|     Lily|     0|      7|
|    David|     1|      2|
+---------+------+-------+

23/09/22 03:44:21 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , apples, oranges
 Schema: Name, Apples, Oranges
Expected: Name but found:
CSV file: file:///home/labuser/Downloads/purchases.csv

### withColumnRenamed

In [15]:
from pyspark.sql.functions import *
purchase = purchase.withColumn("NewApple", col("Apples")+5)
purchase.show()

+---------+------+-------+--------+
|FirstName|Apples|Oranges|NewApple|
+---------+------+-------+--------+
|     June|     3|      0|       8|
|   Robert|     2|      3|       7|
|     Lily|     0|      7|       5|
|    David|     1|      2|       6|
+---------+------+-------+--------+

23/09/22 03:44:54 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , apples, oranges
 Schema: Name, Apples, Oranges
Expected: Name but found:
CSV file: file:///home/labuser/Downloads/purchases.csv

### lit and withColumn

In [16]:
purchase = purchase.withColumn("LitApple", lit(0))
purchase.show()

+---------+------+-------+--------+--------+
|FirstName|Apples|Oranges|NewApple|LitApple|
+---------+------+-------+--------+--------+
|     June|     3|      0|       8|       0|
|   Robert|     2|      3|       7|       0|
|     Lily|     0|      7|       5|       0|
|    David|     1|      2|       6|       0|
+---------+------+-------+--------+--------+

23/09/22 03:44:59 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , apples, oranges
 Schema: Name, Apples, Oranges
Expected: Name but found:
CSV file: file:///home/labuser/Downloads/purchases.csv