In [37]:
# import necessary libraries
import pandas as pd

In [38]:
# import the dataset
df = pd.read_csv('/home/labuser/Downloads/IMDB-Movie-Data.csv')

## Data Preprocessing

In [39]:
# get general info about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [40]:
# get the first 5 rows
df.head(5)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [41]:
# get the data shape
df.shape

(1000, 12)

In [42]:
# check for unique values for every column
df.nunique()

Rank                  1000
Title                  999
Genre                  207
Description           1000
Director               644
Actors                 996
Year                    11
Runtime (Minutes)       94
Rating                  55
Votes                  997
Revenue (Millions)     814
Metascore               84
dtype: int64

In [43]:
# describe the dataframe
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Rank,1000.0,500.500000,288.819436,1.0,250.75,500.500,750.250,1000.00
Year,1000.0,2012.783000,3.205962,2006.0,2010.00,2014.000,2016.000,2016.00
Runtime (Minutes),1000.0,113.172000,18.810908,66.0,100.00,111.000,123.000,191.00
Rating,1000.0,6.723200,0.945429,1.9,6.20,6.800,7.400,9.00
Votes,1000.0,169808.255000,188762.647518,61.0,36309.00,110799.000,239909.750,1791916.00
Revenue (Millions),872.0,82.956376,103.253540,0.0,13.27,47.985,113.715,936.63
Metascore,936.0,58.985043,17.194757,11.0,47.00,59.500,72.000,100.00

In [44]:
# check the duplicates

duplicates = df[df.duplicated()]
duplicates

Empty DataFrame
Columns: [Rank, Title, Genre, Description, Director, Actors, Year, Runtime (Minutes), Rating, Votes, Revenue (Millions), Metascore]
Index: []

In [45]:
# to drop duplicate values in case they exist

#df.drop_duplicates(inplace=True)
#df.reset_index(inplace=True, drop=True)

In [46]:
df.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [47]:
# to drop rows that contain null values

#df.dropna(axis=0)
#df.dropna(axis=1)

#df.dropna(inplace=True, axis=0)

In [48]:
# fill the null values
rev_mean = df['Revenue (Millions)'].mean()
meta_mean = df['Metascore'].mean()

df['Revenue (Millions)'].fillna(value=rev_mean, inplace=True)
df['Metascore'].fillna(value=meta_mean, inplace=True)

In [49]:
#validate the number of null values
df.isnull().sum()

Rank                  0
Title                 0
Genre                 0
Description           0
Director              0
Actors                0
Year                  0
Runtime (Minutes)     0
Rating                0
Votes                 0
Revenue (Millions)    0
Metascore             0
dtype: int64

In [50]:
# describe a particular column
df['Rank'].describe().T[2]

288.8194360957494

In [51]:
df['Revenue (Millions)'].value_counts()

82.956376     128
0.030000        7
0.010000        5
0.020000        4
0.040000        4
             ...
209.810000      1
65.270000       1
5.690000        1
37.550000       1
19.640000       1
Name: Revenue (Millions), Length: 815, dtype: int64

In [52]:
df[['Rank', 'Title']]
type(df['Rank'])

pandas.core.series.Series

In [53]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [54]:
def rat(val):
    if val >= 5.0:
        return "Good"
    else:
        return "Bad"

In [55]:
df["new_rating"] = df['Rating'].apply(rat)

In [56]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore', 'new_rating'],
      dtype='object')

In [57]:
df[['new_rating']]

    new_rating
0         Good
1         Good
2         Good
3         Good
4         Good
..         ...
995       Good
996       Good
997       Good
998       Good
999       Good

[1000 rows x 1 columns]